
body {
    font-size:20px;
    font-family: Arial;
}

.main-div {
    margin: auto;
    width: 35%;
    border-style: solid;
    border-width: 2;
}

header {
    padding: 10px;
    border-style: solid;
    border-width: 0 0 2 0;
    border-color: black;
    color: purple;
}


main {
    margin: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-style: solid;
    border-width: 1px;
}

.message-left-div {
    padding-left: 15px;
    text-align: left;
    margin-left: 0; 
    margin-right: auto;
    width: 60%;
}

.message-right-div {
    padding-right: 15px;
    text-align: right;
    margin-left: auto; 
    margin-right: 0;
    width: 60%;
}

.message-div {
    margin-top: 5px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    text-align: left;
}

footer form{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

footer form input {
    width: 79%;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

footer form button {
    width: 19%;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: green
}